/******************** BEGIN PYWALFOX CUSTOM CSS ********************/
#main-window {
  --pywalfox-font-size: 10px;
  --pywalfox-font-size-sm: calc(var(--pywalfox-font-size) * 0.9);
  --pywalfox-background: var(--lwt-accent-color);
  --pywalfox-background-light: var(--arrowpanel-background);
  --pywalfox-text: var(--arrowpanel-color);
  --pywalfox-text-focus: var(--toolbar-color);
  --pywalfox-unselected-tab-opacity: 0.8;
  --pywalfox-darker-background: rgba(0, 0, 0, 0.4);
  --pywalfox-padding: 4px 8px;
  font-size: var(--pywalfox-font-size) !important;
}

/* Disable default appearance of certain elements to be able to override shadow DOM attributes */
menupopup, menuseparator, button, search-textbox {
  -moz-appearance: none !important;
}

/* Override the default appearance of buttons and textboxes to match the pywalfox theme */
button, search-textbox, menuseparator {
  background-color: var(--pywalfox-darker-background) !important;
}

/* Background color on hover in right-click context menus */
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] {
  -moz-appearance: none !important;
  background-color: var(--pywalfox-background) !important;
  color: var(--pywalfox-text-focus) !important;
  padding: 4px 4px !important;
}

/* Separators in dropwdown menus */
menuseparator {
  height: 1px;
}

/* Elements where we set appearance to none, we need to set padding manually */
notification, button, search-textbox {
  padding: var(--pywalfox-padding) !important;
}

/* Fix background color of elements that can not be targeted via the Theme API */
notification, menupopup {
  background: var(--pywalfox-background-light) !important;
  color: var(--pywalfox-text) !important;
}

/* Apply bold text to elements */
textbox, panelview, .tabbrowser-tab, #sidebar-header,
.findbar-container, toolbar[overflowable] > .customization-target {
  font-weight: bold !important;
}

/* Decrease opacity of unselected tabs to match the default Firefox theme */
.tabbrowser-tab:not([visuallyselected="true"]) {
  opacity: var(--pywalfox-unselected-tab-opacity) !important;
}

/* Hide unnecessary borders */
.sidebar-splitter, notification {
  border: 0px !important;
}

/* Change the background color of the resize splitter on the right side of the sidebar */
.sidebar-splitter {
  background-color: transparent !important;
}

/* Smaller font size in panel dropdown menus */
panelmultiview {
  font-size: var(--pywalfox-font-size-sm) !important;
}

/* Change the grey background color seen e.g. when opening a bookmark in a newtab */
#tabbrowser-tabpanels {
  background-color: var(--pywalfox-background) !important;
}

/* Theme the status panel at the bottom */
#statuspanel-label {
  background: var(--pywalfox-background-light) !important;
  border-color: var(--pywalfox-background) !important;
  color: var(--pywalfox-text) !important;
}
/********************* END PYWALFOX CUSTOM CSS *********************/

@import url('file:///home/x/.cache/wal/colors.css');

/*
*  Hi~
*
*  The theme Another Oneline uses code from
*  👉 https://github.com/JarnotMaciej/Essence 👈 Thank you~~ 🤗
*/

/* Just comment the lines or block for the elements you WANT to see */

/* Menu button */
PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  order: -2 !important;
  margin: 2px !important;
  /* display: none !important; */
}

/* Window control buttons (min, resize and close) */
.titlebar-buttonbox-container {
  display: none !important;
  margin-right: 12px !important; /* If display is enable // CSS is NOT my thing :sob: */
}

/* Page back and foward buttons */
back-button,
forward-button
{
  display: none !important
}

/* Extensions button */
unified-extensions-button {
  display: none !important
}

/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important
}

/* URL bar icons */
#identity-permission-box,
#star-button-box,
#alltabs-button,
#identity-icon-box,
#picture-in-picture-button,
#tracking-protection-icon-container,
#reader-mode-button,
#translations-button
{
  display: none !important
}

/* "This time search with:..." */
#urlbar .search-one-offs {
  display: none !important;
}





.tabbrowser-tab[label="New Tab"] .tab-icon-image {display:none!important;}

#PersonalToolbar {
  visibility: collapse !important;
}

#browser.tabs.firefox-view {
  display: none !important; 
}





/* --- ~END~ element visibility section --- */

/* Navbar size calc */
:root{
--tab-border-radius: 6px !important; /*  Tab border radius -- Changes the tabs rounding  *//*  Default: 6px  */
--NavbarWidth: 43; /*  Default values: 36 - 43  */
--TabsHeight: 36; /*  Minimum: 30  *//*  Default: 36  */
--TabsBorder: 8; /*  Doesnt do anything on small layout  *//*  Default: 8  */
--NavbarHeightSmall: calc(var(--TabsHeight) + var(--TabsBorder))  /*  Only on small layout  *//*  Default: calc(var(--TabsHeight) + var(--TabsBorder))  *//*  Default as a number: 44  */}

@media screen and (min-width:1325px)    /*  Only the tabs space will grow from here  */
{:root #nav-bar{margin-top: calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px)!important; height: calc(var(--TabsHeight) * 1px + var(--TabsBorder) * 1px)} #TabsToolbar{margin-left: calc(1325px / 100 * var(--NavbarWidth)) !important} #nav-bar{margin-right: calc(100vw - calc(1325px / 100 * var(--NavbarWidth))) !important; vertical-align: center !important} #urlbar-container{min-width: 0px !important;  flex: auto !important} toolbarspring{display: none !important}}

@media screen and (min-width:950px) and (max-width:1324px)    /*  Both the tabs space and the navbar will grow  */
{:root #nav-bar{margin-top: calc(var(--TabsHeight) * -1px - var(--TabsBorder) * 1px) !important; height: calc(var(--TabsHeight) * 1px + var(--TabsBorder) * 1px)} #TabsToolbar{margin-left: calc(var(--NavbarWidth) * 1vw) !important} #nav-bar{margin-right: calc(100vw - calc(var(--NavbarWidth) * 1vw)) !important; vertical-align: center !important} #urlbar-container{min-width: 0px !important;  flex: auto !important} toolbarspring{display: none !important} #TabsToolbar, #nav-bar{transition: margin-top .25s !important}}

@media screen and (max-width:949px)    /*  The window is not enough wide for a one line layout  */
{:root #nav-bar{padding: 0 5px 0 5px!important; height: calc(var(--NavbarHeightSmall) * 1px) !important} toolbarspring{display: none !important;} #TabsToolbar, #nav-bar{transition: margin-top .25s !important}}
#nav-bar, #PersonalToolbar{background-color: #0000 !important;background-image: none !important; box-shadow: none !important} #nav-bar{margin-left: 3px;} .tab-background, .tab-stack { min-height: calc(var(--TabsHeight) * 1px) !important}

/*  Removes urlbar border/background  */
#urlbar-background {
  border: none !important;
  outline: none !important;
  transition: .15s !important;
}

/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
    box-shadow: none !important;
    background: #0000 !important;
}

/*  Removes annoying border  */
#navigator-toolbox {
    border: none !important
}

/* Fades window while not in focus */
#navigator-toolbox-background:-moz-window-inactive {
  filter: contrast(90%)
}

/* Remove fullscreen warning border */
#fullscreen-warning {
  border: none !important;
  background: -moz-Dialog !important;
}

/*  Tabs close button  */
.tabbrowser-tab:not(:hover) .tab-close-button {
    opacity: 0% !important;
    transition: 0.3s !important;
    display: -moz-box !important;
}
.tab-close-button[selected]:not(:hover) {
    opacity: 45% !important;
    transition: 0.3s !important;
    display: -moz-box !important;
}
.tabbrowser-tab:hover .tab-close-button {
    opacity: 50%;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
}
.tab-close-button:hover {
    opacity: 100% !important;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
}
.tab-close-button[selected]:hover {
    opacity: 100% !important;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
}
